body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header{
  text-align: center;
}

.admin-panel{
  background-color: black;
  padding: 10px;
}

.book-view{
  border:2px solid black;
  border-radius: 5px;
}

.order-view{
  border-bottom: 2px solid black;
  margin:5px;
  padding:5px;
}
.goto-admin-btn{
  float: right;
}

